* {
  color: #000000;
  overflow-x: clip;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
#portrait {
  width: 44% !important;
  max-width: 44% !important;
}
.topinfo {
  width: 95%;
  box-sizing: border-box;
  left: 0%;
  color: #000000;
  float: left;
  text-align: left;
  z-index: 30;

  display: flex;
  font-size: 20rem !important;

  justify-content: space-between;
}
::selection {
  background-color: transparent;
  color: #000000;
}
p {
  display: inline;
}
#opt1 {
  transform: translateY(25vh);

  display: none;
}
#opt1.active {
  display: inline;

  transform: translateY(0vh);
}
#opt2.active,
#opt3.active {
  display: inline;
  transform: translateY(25vh);

  line-height: 3.4mm;
}
#opt2,
#opt3 {
  transform: translateY(0vh);

  display: none;
}

/* .human,
.tokyo {
  display: none;
} */
img,
.human,
.tokyo,
.norwood,
.providence,
.sites,
.basic,
.read,
.illo,
.buro,
video,
.sort {
  /* grid-column: 1; */
  max-width: 50vw;
  padding-bottom: 0;
  padding-left: 0px;
  margin-left: 0px;
  box-sizing: content-box;
  height: auto;
}
#human-container {
  display: block;
}
#basic-container {
  display: block;
}
#read-container {
  display: block;
}
#illo-container {
  display: block;
}
#gifline {
  grid-column: 1;
  max-width: 50vw;
  padding-bottom: 0;
  box-sizing: content-box;
  height: auto;
  width: 50vw;
}
#posterkunst {
  /* padding: 1rem; */
  margin-right: 0;
  padding-right: 0;
  width: fit-content;
  height: inherit;
  display: flex;
  /* align-content: inherit; */
}
#posterkunst img {
  box-shadow: 5px 5px 8px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  grid-column: 1;
  height: 22rem;
  width: auto;
  display: flex;
  margin: 0;
}
.prev {
  cursor: w-resize !important;
}

.prev,
.next {
  cursor: e-resize;

  position: absolute;
  top: 0;
  filter: invert(100%);
  width: 50%;
  height: 90%;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
#hinotches {
  color: white;
}

#basicnotches {
  color: white;
}
#readnotches {
  color: white;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  color: black;
}
html {
  font-family: Helvetica, sans-serif;
  color: black;

  background-color: whitesmoke;
  font-stretch: expanded;
}
header {
  display: flex;
}
.col1,
.col2,
.col3 {
  -ms-transform: scaleY(0.95);
  -webkit-transform: scaleY(0.95);
  transform: scaleY(0.95);
  transform-origin: top;
  height: 100%;
  top: 0;
  float: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  color: #000000;
}
.col1 {
  width: 45ch;
  left: 0%;
}
#plus {
  display: none;
}
#plus.active {
  cursor: pointer;
  display: block;
}
#minus {
  display: none;
}
#minus.active {
  display: block;
  cursor: pointer;
}
#aboutPage {
  display: none;
  cursor: pointer;
}
#aboutPage.active {
  display: block;

  cursor: pointer;
}
#designlink {
  text-decoration: underline;
}
#designlink:hover {
  text-decoration: none;
  width: auto;
}
#gdfwdesignlink {
  text-decoration: underline;
}
#gdfwdesignlink:hover {
  text-decoration: none;
  width: auto;
}
#hidesignlink {
  text-decoration: underline;
}
#hidesignlink:hover {
  text-decoration: none;
  width: auto;
}
#basicdesignlink {
  text-decoration: underline;
}
#basicdesignlink:hover {
  text-decoration: none;
  width: auto;
}
#readdesignlink {
  text-decoration: underline;
}
#readdesignlink:hover {
  text-decoration: none;
  width: auto;
}
#sitelink {
  text-decoration: underline;
}
#sitelink:hover {
  text-decoration: none;
  width: auto;
}

#aboutpagelink {
  background-color: none;
}
.col2 {
  width: 47%;
  left: 0%;
  pointer-events: none, auto;
}
.col3 {
  margin-left: 15%;
  display: flex;
  width: 7ch;
  flex-direction: column;
  justify-content: space-between;
}
.about:hover,
#plus:hover,
#minus:hover {
  color: rgb(0, 0, 0);
}

#minus:hover {
  text-decoration: underline;
}
.linkabout {
  background-color: none;
  color: black;
  transform: scale(1, 1.4);
  padding-top: 1rem;
  /* width: fit-content; */

  max-width: 50vw;
  margin-top: 2.2%;
  /* margin-bottom: 20%;  */
}
.columns {
  letter-spacing: -0.05vh;
  font-size: 2vh !important;
}
a.linkabout {
  background-color: blue !important;
}
#linkmain {
  border-style: 1rem black solid;
  background-color: white;
  border-radius: 50%;

  width: 100%;
  height: 100%;
}
#kunstgif {
  max-height: 60vh;
  max-width: 50vw;
}

#kitchen {
  max-height: 70vh;
}
#individual {
  max-height: 50vh;
}
#pamphlet {
  max-height: 70vh;
}
#individualimpact {
  max-height: 50vh;
  filter: drop-shadow(0px 4px 6px #d1d1d1);
}
#individualsort {
  max-height: 60vh;
  filter: drop-shadow(0px 4px 6px #d1d1d1);
}
.team {
  display: hide;
  display: none;
}
#link {
  color: #000000;
  /* background-color: gray; */
  transform: scale(1, 1.4);
  display: flex-end;
  margin-left: auto;
  margin-right: 0;
  flex-direction: column-reverse;
}
a:link {
  /* background-color: gray; */
  color: #000000;
  transform: scale(1, 1.1);
  width: fit-content;

  text-decoration: none;
}
a:visited {
  color: #000000;
}
a.linkabout:link {
  background-color: blue;
}
a.linkabout {
  background-color: blue;
}
a.linkabout:visited {
  background-color: blue;
}
#gridsplit {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  display: grid;
  row-gap: 20vh;

  padding-top: 20vh;
}

#kunstahle {
  grid-column: 1;
  max-width: 30vw;
  row-gap: 0vw !important;
  position: relative;
  /* margin: auto; */
}
#essay3,
#essay6,
#pamp1,
#pamp2,
#pamp3,
#pamphlet {
  grid-column: 1;
  max-width: 50vw;

  position: relative;
  /* margin: auto; */
}

#essay4 {
  grid-column: 1;
  max-width: 30vw;

  position: relative;
  /* margin: auto; */
}
#kwrl {
  grid-column: 1;
  max-width: 50vw;

  position: relative;
  /* margin: auto; */
}
#kunstwrap.designlink {
  display: none;
}
.kunstinfo {
  display: none;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: rgb(43 166 202);
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.kunstinfo.designlink {
  display: block;
  grid-column: 1;

  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
.kunstbio {
  z-index: 1;
  width: 48vw;
  grid-column: 1;

  margin-left: 1rem;
  padding-top: 0;
  padding-bottom: 1px;
  transform: scale(1, 1.2);
}
#pitch {
  grid-column: 1;
}
#gdfwwrap.gdfwdesignlink {
  display: none;
}
.gdfwinfo {
  display: none;
}
.gdfwinfo.gdfwdesignlink {
  display: block;
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  padding-top: 4rem;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
.gdfwbio {
  z-index: 1;
  width: 48vw;
  grid-column: 1;

  margin-left: 1rem;
  padding-top: 0;
  padding-bottom: 1px;
  transform: scale(1, 1.2);
}

#readwrap.readdesignlink {
  display: none;
}
.readinfo {
  display: none;
}
.readinfo.readdesignlink {
  display: block;
  grid-column: 1;

  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  padding-top: 4rem;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
.readbio {
  z-index: 1;
  width: 48vw;
  grid-column: 1;

  margin-left: 1rem;
  padding-top: 0;
  padding-bottom: 1px;
  transform: scale(1, 1.2);
}

#hiwrap.hidesignlink {
  display: none;
}
.hiinfo {
  display: none;
}
.hiinfo.hidesignlink {
  display: block;
  grid-column: 1;

  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  padding-top: 4rem;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
.hibio {
  z-index: 1;
  width: 48vw;
  grid-column: 1;

  margin-left: 1rem;
  padding-top: 0;
  padding-bottom: 1px;
  transform: scale(1, 1.2);
}
#basicwrap.basicdesignlink {
  display: none;
}
.basicinfo {
  display: none;
}
.basicinfo.basicdesignlink {
  display: block;
  grid-column: 1;

  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
.basicbio {
  z-index: 1;
  width: 48vw;
  grid-column: 1;

  margin-left: 1rem;
  padding-top: 0;
  padding-bottom: 1px;
  transform: scale(1, 1.2);
}
#buro {
  grid-column: 1;
  max-width: 50vw;

  position: relative;
  margin: auto;
}
#burowrap.burodesignlink {
  display: none;
}
.buroinfo {
  display: none;
}
.buroinfo.burodesignlink {
  display: block;
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
.burobio {
  z-index: 1;
  width: 48vw;
  grid-column: 1;

  margin-left: 1rem;
  padding-top: 0;
  padding-bottom: 1px;
  transform: scale(1, 1.2);
}
#knoll {
  grid-column: 1;
  max-width: 50vw;

  position: relative;
  margin: auto;
}
#knollwrap.knolldesignlink {
  display: none;
}
.knollinfo {
  display: none;
}
.knollinfo.knolldesignlink {
  display: block;
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
.knollbio {
  z-index: 1;
  width: 48vw;
  grid-column: 1;

  margin-left: 1rem;
  padding-top: 0;
  padding-bottom: 1px;
  transform: scale(1, 1.2);
}
#interview {
  grid-column: 1;
  max-width: 50vw;
  /* margin-top: -19vh; */
  position: relative;
}
#interviewwrap.interviewdesignlink {
  display: none;
}
.interviewinfo {
  display: none;
}
.interviewinfo.interviewdesignlink {
  display: block;
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
.interviewbio {
  z-index: 1;
  width: 48vw;
  grid-column: 1;

  margin-left: 1rem;
  padding-top: 0;
  padding-bottom: 1px;
  transform: scale(1, 1.2);
}
#yearbook {
  grid-column: 1;
  max-width: 50vw;
  /* margin-top: -19vh; */
  position: relative;
}
#yearbookwrap.yearbookdesignlink {
  display: none;
}
.yearbookinfo {
  display: none;
}
.yearbookinfo.yearbookdesignlink {
  display: block;
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}

#ybspread {
  grid-column: 1;
  max-width: 50vw;
  margin-top: -19vh;

  position: relative;
}
#ybspreadwrap.ybspreaddesignlink {
  display: none;
}
.ybspreadinfo {
  display: none;
}
.ybspreadinfo.ybspreaddesignlink {
  display: block;
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}

#pamp1 {
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
}
#pamp1wrap.pamp1designlink {
  display: none;
}
.pamp1info {
  display: none;
}
.pamp1info.pamp1designlink {
  display: block;
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
#pamp2 {
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
}
#pamp2wrap.pamp2designlink {
  display: none;
}
.pamp2info {
  display: none;
}
.pamp2info.pamp2designlink {
  display: block;
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
#pamp3 {
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
}
#pamp3wrap.pamp3designlink {
  display: none;
}
.pamp3info {
  display: none;
}
.pamp3info.pamp3designlink {
  display: block;
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
#clique {
  grid-column: 1;
  max-width: 50vw;
  margin-top: -19vh;
  position: relative;
}
#cliquewrap.cliquedesignlink {
  display: none;
}
.cliqueinfo {
  display: none;
}
.cliqueinfo.cliquedesignlink {
  display: block;
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
.cliquebio {
  z-index: 1;
  width: 48vw;
  grid-column: 1;

  margin-left: 1rem;
  padding-top: 0;
  padding-bottom: 1px;
  transform: scale(1, 1.2);
}
#dp {
  grid-column: 1;
  max-width: 50vw;
  margin-top: -19vh;
  position: relative;
  height: 853px;
  width: 1280px;
}
#dpwrap.dpdesignlink {
  display: none;
}
.dpinfo {
  display: none;
}
.dpinfo.dpdesignlink {
  display: block;
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
.dpbio {
  z-index: 1;
  width: 48vw;
  grid-column: 1;

  margin-left: 1rem;
  padding-top: 0;
  padding-bottom: 1px;
  transform: scale(1, 1.2);
}
#eventposters {
  grid-column: 1;
  max-width: 50vw;
}
#humaninfrastructure {
  grid-column: 1;
  max-width: 50vw;

  position: relative;
}
#sites {
  grid-column: 1;

  max-width: 50vw;

  position: relative;
  margin: auto;
}
video {
  height: auto;
}
#hmm,
#essay3,
#essay6 {
  grid-column: 1;
  max-width: 50vw;
}
#ballwrap.balldesignlink {
  display: none;
}

#ball {
  grid-column: 1;
  max-width: 50vw;
  position: relative;
}
.ballinfo {
  display: none;
}
.ballinfo.balldesignlink {
  display: block;
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  padding-top: 4rem;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
.ballbio {
  z-index: 1;
  width: 48vw;
  grid-column: 1;
  margin-left: 1rem;
  padding-top: 0;
  padding-bottom: 1px;
  transform: scale(1, 1.2);
}
#illowrap.illodesignlink {
  display: none;
}

#illo {
  grid-column: 1;
  max-width: 50vw;
  position: relative;
}
.illoinfo {
  display: none;
}
.illoinfo.illodesignlink {
  display: block;
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  padding-top: 4rem;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}
.illobio {
  z-index: 1;
  width: 48vw;
  grid-column: 1;
  margin-left: 1rem;
  padding-top: 0;
  padding-bottom: 1px;
  transform: scale(1, 1.2);
}
#info {
  grid-column: 1;
  max-width: 50vw;
  position: relative;
  margin: auto;
}
#tokyo {
  grid-column: 1;
  left: 0;
  width: 20vw !important;
  position: relative;
  margin: auto;
}
#prov {
  grid-column: 1;
  max-width: 50vw;
  position: relative;
  margin: auto;
}
#circvideo {
  grid-column: 1;
  max-width: 50vw;
  position: relative;
}
#norwood {
  grid-column: 1;
  max-width: 50vw;
  position: relative;
  margin: auto;
}
#basicholding {
  grid-column: 1;
  max-width: 50vw;
  position: relative;
}
#read {
  grid-column: 1;
  max-width: 50vw;
  position: relative;
  margin: auto;
}
#sortlater {
  grid-column: 1;
  max-width: 50vw;
  position: relative;
}
#sortwrap.sortdesignlink {
  display: none;
}
.sortinfo {
  display: none;
}
.sortinfo.sortdesignlink {
  display: block;
  grid-column: 1;
  width: 50vw;
  max-width: 50vw;
  position: relative;
  margin-bottom: 2vh;
  background-color: white;
  padding: 1rem;
  border: 1px grey dashed;
  display: grid;
  padding-right: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  /* background-color: whitesmoke; */
  z-index: 1;
}

.sortbio {
  z-index: 1;
  width: 48vw;
  grid-column: 1;

  margin-left: 1rem;
  padding-top: 0;
  padding-bottom: 1px;
  transform: scale(1, 1.2);
}
#briefbio,
#togglebio {
  margin-top: 0;
  padding-top: 0;
  font-size: 0.8rem;

  z-index: 3;
}
.brian:hover {
  /* cursor: url("bb.png"), auto; */
  text-decoration: none;
  width: auto;
}
.brian {
  cursor: url("images/bbsmall.png"), pointer;

  text-decoration: underline;
}
.ben {
  cursor: url("images/blrsmall.png"), pointer;
  text-decoration: underline;
}
.ben:hover {
  /* cursor: url("bb.png"), auto; */
  text-decoration: none;
  width: auto;
}
/* // Small devices (landscape phones, 576px and up)// */
@media (min-width: 10px) and (max-width: 599px) {
  #gridsplit {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  img,
  .sites,
  .human,
  .tokyo,
  .kunst,
  .providence,
  .norwood,
  .basic,
  .read,
  .info,
  .illo,
  .buro,
  video,
  .ball,
  .circle,
  .sort,
  .e3,
  .knoll,
  .essay6,
  .pamp1,
  .pamp2,
  .pamp3,
  .interview {
    grid-column: 1;
    max-width: 97vw;
    padding-bottom: 0;
    /* padding-top: 5vh; */
  }
  #tokyo,
  #sites,
  #humaninfrastructure,
  #norwood,
  #prov,
  #info,
  #eventposters,
  #hmm,
  #illo,
  #basicholding,
  #read,
  #buro,
  video,
  #ball,
  #sortlater,
  #essay3,
  #essay6,
  #kwrl,
  #clique,
  #dp,
  #yearbook,
  #ybspread,
  #interview,
  #pamp1,
  #pamp2,
  #pamp3 {
    max-width: 96vw;
  }
  #kunstahle,
  #circvideo,
  #essay4 {
    max-width: 70vw;
  }
  #pamp1,
  #pamp2,
  #pamp3,
  #pamphlet {
    width: 100vw;
    max-width: 100vw;
  }
  #portrait {
    width: 20% !important;
    max-width: 20% !important;
  }
  .linkabout {
    max-width: 100vw;
    margin-top: 9%;
  }
  .kunstinfo.designlink {
    width: 96vw;
    max-width: 96vw;
    height: 40vh;
  }
  .kunstbio {
    width: 93vw;
    max-width: 93vw;
  }
  .gdfwinfo.gdfwdesignlink {
    width: 96vw;
    max-width: 96vw;
    height: 40vh;
  }
  .gdfwbio {
    width: 93vw;
    max-width: 93vw;
  }
  .basicinfo.basicdesignlink {
    width: 96vw;
    max-width: 96vw;
    height: 40vh;
  }
  .basicbio {
    width: 93vw;
    max-width: 93vw;
  }
  .sortinfo.sortdesignlink {
    width: 96vw;
    max-width: 96vw;
    height: 40vh;
  }
  .sortbio {
    width: 93vw;
    max-width: 93vw;
  }
  .readinfo.readdesignlink {
    width: 96vw;
    max-width: 96vw;
    height: 40vh;
  }
  .readbio {
    width: 93vw;
    max-width: 93vw;
  }
  .hiinfo.hidesignlink {
    width: 96vw;
    max-width: 96vw;
    height: 40vh;
  }
  .hibio {
    width: 93vw;
    max-width: 93vw;
  }
  .col3 {
    width: 13ch;
  }
  .col1 {
    width: 60ch;
    left: 0%;

    padding-right: 2%;
    pointer-events: none;
  }
  #briefbio {
    width: 100vw;
  }
  .basicinfo.basicdesignlink {
    width: 96vw;
    max-width: 96vw;
    height: 40vh;
  }
  .basicbio {
    width: 93vw;
    max-width: 93vw;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 600px) and (max-width: 799px) {
  #gridsplit {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  img,
  .sites,
  video,
  .human,
  .tokyo,
  .kunst,
  .providence,
  .norwood,
  .basic,
  .read,
  .illo,
  .buro,
  video,
  .buro,
  .ball,
  .circle,
  .sort,
  .knoll,
  .interview {
    grid-column: 1;
    max-width: 97vw;
    padding-bottom: 0;
    /* padding-top: 5vh; */
  }
  #tokyo,
  #sites,
  #humaninfrastructure,
  #kunstahle,
  #norwood,
  #prov,
  #info,
  #eventposters,
  #hmm,
  #illo,
  #basicholding,
  #read,
  #buro,
  #ball,
  #circvideo,
  #sortlater,
  #essay3,
  #essay6,
  #kwrl,
  #clique,
  #dp,
  #yearbook,
  #ybspread,
  #interview {
    max-width: 97vw;
  }
  #kunstahle,
  #circvideo,
  #essay4,
  #pamp1,
  #pamp2,
  #pamp3,
  #pamphlet {
    max-width: 50vw;
  }
  #portrait {
    width: 70%;
    max-width: 50vw !important;
  }
  .col3 {
    width: 7ch;
  }
  .linkabout {
    margin-top: 5%;
    max-width: 100vw;
  }
  .kunstinfo.designlink {
    width: 96vw;
    max-width: 96vw;
  }
  .kunstbio {
    width: 93vw;
    max-width: 93vw;
  }
  .gdfwinfo.gdfwdesignlink {
    width: 96vw;
    max-width: 96vw;
  }
  .gdfwbio {
    width: 93vw;
    max-width: 93vw;
  }
  .basicinfo.basicdesignlink {
    width: 96vw;
    max-width: 96vw;
  }
  .basicbio {
    width: 93vw;
    max-width: 93vw;
  }
  .sortinfo.sortdesignlink {
    width: 96vw;
    max-width: 96vw;
  }
  .sortbio {
    width: 93vw;
    max-width: 93vw;
  }
  .readinfo.readdesignlink {
    width: 96vw;
    max-width: 96vw;
  }
  .readbio {
    width: 93vw;
    max-width: 93vw;
  }
  .hiinfo.hidesignlink {
    width: 96vw;
    max-width: 96vw;
  }
  .hibio {
    width: 93vw;
    max-width: 93vw;
  }
  #briefbio {
    width: 100vw;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 800px) and (max-width: 999px) {
  #gridsplit {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  img,
  .sites,
  .human,
  .tokyo,
  .kunst,
  .providence,
  .norwood,
  .basic,
  .read,
  .illo,
  video,
  .buro,
  .ball,
  .circle,
  .sort,
  .knoll,
  .interview {
    grid-column: 1;
    max-width: 97vw;
    padding-bottom: 0;
    /* padding-top: 5vh; */
  }
  #tokyo,
  #sites,
  #humaninfrastructure,
  #norwood,
  #prov,
  #info,
  #eventposters,
  #hmm,
  #illo,
  #basicholding,
  #read,
  #buro,
  #ball,
  #sortlater,
  #essay3,
  #essay6,
  #kwrl,
  #clique,
  #dp,
  #yearbook,
  #ybspread,
  #interview,
  .pamp1,
  .pamp2,
  .pamp3 {
    max-width: 97vw;
  }
  #kunstahle,
  #circvideo,
  #essay4,
  #pamp1,
  #pamp2,
  #pamp3,
  #pamphlet {
    max-width: 50vw;
  }
  #portrait {
    width: 70%;
    max-width: 50vw !important;
  }
  .linkabout {
    margin-top: 5%;
  }
  .kunstinfo.designlink {
    width: 96vw;
    max-width: 96vw;
  }
  .kunstbio {
    width: 93vw;
    max-width: 93vw;
  }

  .gdfwinfo.gdfwdesignlink {
    width: 96vw;
    max-width: 96vw;
  }
  .gdfwbio {
    width: 93vw;
    max-width: 93vw;
  }
  .basicinfo.basicdesignlink {
    width: 96vw;
    max-width: 96vw;
  }
  .col3 {
    width: 11ch;
  }
  .basicbio {
    width: 93vw;
    max-width: 93vw;
  }
  .sortinfo.sortdesignlink {
    width: 96vw;
    max-width: 96vw;
  }
  .sortbio {
    width: 93vw;
    max-width: 93vw;
  }
  .readinfo.readdesignlink {
    width: 96vw;
    max-width: 96vw;
  }
  .readbio {
    width: 93vw;
    max-width: 93vw;
  }
  .hiinfo.hidesignlink {
    width: 96vw;
    max-width: 96vw;
  }
  .hibio {
    width: 93vw;
    max-width: 93vw;
  }
  #briefbio {
    width: 100vw;
  }
}
