* {
  box-sizing: border-box;
}
/* .human,
.tokyo {
  display: none;
} */
img,
.human,
.tokyo,
.kunst,
.norwood,
.providence,
.sites {
  grid-column: 1;
  max-width: 50vw;
  padding-bottom: 0;

  box-sizing: content-box;
  height: auto;
}
#human-container {
  display: block;
}
#gifline {
  grid-column: 1;
  max-width: 50vw;
  padding-bottom: 0;

  box-sizing: content-box;
  height: auto;
  width: 50vw;
}
#posterkunst img {
  height: 35rem;
  box-shadow: 5px 5px 8px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  margin-bottom: 2%;
  box-sizing: content-box;
}

.prev,
.next {
  cursor: url(images/arrow.png), auto;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}
html {
  font-family: Helvetica, sans-serif;
  background-color: whitesmoke;
  font-stretch: expanded;
}
header {
  display: flex;
}

.brian {
  cursor: url("images/bbsmall.png"), auto;

  text-decoration: underline;
}
#designlink {
  text-decoration: underline;
}
#designlink:hover {
  text-decoration: none;
  width: auto;
}
.brian:hover {
  /* cursor: url("bb.png"), auto; */
  text-decoration: none;
  width: auto;
}

.ben {
  cursor: url("images/blrsmall.png"), auto;
  text-decoration: underline;
}
.ben:hover {
  /* cursor: url("bb.png"), auto; */
  text-decoration: none;
  width: auto;
}
#aboutpagelink {
  background-color: none;
}
.social {
  /* background-color: black; */
  line-height: 1.4rem;
  /* font-size: 1rem; */
  color: black;
  /* transform: scale(1, 1.4); */
  width: fit-content;
  grid-column: 1;
  grid-row: 4;
}

#heading {
  background-color: blue;
  color: white;
  transform: scale(1, 1.4);
  width: fit-content;
  display: flex;
}
#firstline {
  background-color: blue;
  color: white;
}
.linkabout {
  background-color: none;
  color: black;
  transform: scale(1, 1.4);
  /* width: fit-content; */

  max-width: 50vw;
  margin-top: 2.2%;
  /* margin-bottom: 20%;  */
}
a.linkabout {
  background-color: blue !important;
}
#linkmain {
  border-style: 1rem black solid;
  background-color: white;
  border-radius: 50%;

  width: 100%;
  height: 100%;
}
#kunstgif {
  max-height: 60vh;
  max-width: 50vw;
}
#link {
  color: black;
  /* background-color: gray; */
  transform: scale(1, 1.4);
  display: flex-end;
  margin-left: auto;
  margin-right: 0;
  flex-direction: column-reverse;
}
a:link {
  /* background-color: gray; */
  color: black;
  transform: scale(1, 1.1);
  width: fit-content;

  text-decoration: none;
}
a:visited {
  color: black;
}
a.linkabout:link {
  background-color: blue;
}
a.linkabout {
  background-color: blue;
}
a.linkabout:visited {
  background-color: blue;
}
#gridsplit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  border: red;
}
#kunstahle {
  padding-top: 20vh;
  grid-column: 1;
  max-width: 50vw;
  grid-row: 4;
  position: relative;
  margin: auto;
}
#eventposters {
  padding-top: 20vh;
  grid-column: 1;
  max-width: 50vw;
  grid-row: 5;
}
#humaninfrastructure {
  padding-top: 20vh;
  grid-column: 1;
  max-width: 50vw;
  grid-row: 6;
  position: relative;
  margin: auto;
}
#sites {
  padding-top: 20vh;
  grid-column: 1;
  max-width: 50vw;
  grid-row: 7;
  position: relative;
  margin: auto;
}
video {
  width: 100%;
  height: auto;
}
#hmm {
  padding-top: 20vh;
  grid-column: 1;
  max-width: 50vw;
  grid-row: 8;
}
#illo {
  padding-top: 20vh;
  grid-column: 1;
  max-width: 50vw;
  grid-row: 9;
}
#info {
  padding-top: 20vh;
  grid-column: 1;
  max-width: 50vw;
  grid-row: 10;
  position: relative;
  margin: auto;
}
#tokyo {
  padding-top: 20vh;
  grid-column: 1;
  max-width: 50vw;
  grid-row: 11;
  position: relative;
  margin: auto;
}
#prov {
  padding-top: 20vh;
  grid-column: 1;
  max-width: 50vw;
  grid-row: 12;
  position: relative;
  margin: auto;
}
#norwood {
  padding-top: 20vh;
  grid-column: 1;
  max-width: 50vw;
  grid-row: 13;
  position: relative;
  margin: auto;
}

#briefbio {
  margin-top: 0;
  padding-top: 0;
  font-size: 0.8rem;
  transform: scale(1, 1.2);
}
/* // Small devices (landscape phones, 576px and up)// */
@media (min-width: 10px) and (max-width: 599px) {
  #gridsplit {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  img,
  .sites,
  .human,
  .tokyo,
  .kunst,
  .providence,
  .norwood {
    grid-column: 1;
    max-width: 100vw;
    padding-bottom: 0;
    /* padding-top: 5vh; */
  }
  #tokyo,
  #sites,
  #humaninfrastructure,
  #kunstahle,
  #norwood,
  #prov,
  #info {
    max-width: 100vw;
    padding-top: 10vh;
  }
  .linkabout {
    max-width: 100vw;
    margin-top: 9%;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 600px) and (max-width: 799px) {
  #gridsplit {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  img,
  .sites,
  video,
  .human,
  .tokyo,
  .kunst,
  .providence,
  .norwood {
    grid-column: 1;
    max-width: 100vw;
    padding-bottom: 0;
    /* padding-top: 5vh; */
  }
  #tokyo,
  #sites,
  #humaninfrastructure,
  #kunstahle,
  #norwood,
  #prov,
  #info {
    max-width: 100vw;
    padding-top: 10vh;
  }
  .linkabout {
    margin-top: 5%;
    max-width: 100vw;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 800px) and (max-width: 999px) {
  #gridsplit {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  img,
  .sites,
  .human,
  .tokyo,
  .kunst,
  .providence,
  .norwood {
    grid-column: 1;
    max-width: 100vw;
    padding-bottom: 0;
    /* padding-top: 5vh; */
  }
  #tokyo,
  #sites,
  #humaninfrastructure,
  #kunstahle,
  #norwood,
  #prov,
  #info {
    max-width: 100vw;
    padding-top: 10vh;
  }
  .linkabout {
    margin-top: 5%;
  }
}
